<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Event</title>
</head>
<body>
    <div class="container col-lg">
        <div class="row container">
            <div class="col-sm-2 text-center">
                <a href="/dashboard">Home</a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="">New</a>
            </div>
            <div class="col-sm-4 text-center"></div>
            <div class="col-sm-2 text-center">
                <a href="/myaccount">Account</a>
            </div>
        </div>
        <div class="row container">
            <div class="container">
                <h4>Event Details</h4>
            </div>
            <div class="container col">
                <p>Event Title: {{ event_info[0]['title'] }}</p>
                <p>Rule System: {{ event_info[0]['system'] }}</p>
                <p>Description: {{ event_info[0]['description'] }}</p>
                <p>Date: {{ event_info[0]['date'] }}</p>
                <p>Address: {{ event_info[0]['street'] }} {{ event_info[0]['city'] }}, {{ event_info[0]['state_abbr'] }}</p>
                {%if editable%}
                    <a href="/event/edit/">Edit</a>
                {%endif%}
            </div>
            <div class="col">
                <p>Google MAPS API if time</p>
            </div>
        </div>
        <div class="row container">
            <p>Messages if time. </p>
        </div>
    </div>
</body>