<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Event</title>
    <style>
        #map {
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="container col-lg">
        <div class="container row">
            {% with messages = get_flashed_messages() %}    
                {% if messages %}                           
                    {% for message in messages %}            
                        <p>{{message}}</p>                
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info mb-3">
            <div class="navbar-nav">
                <a href="" class="navbar-brand text-white">LFG</a>
                <a href="/dashboard" class="nav-item nav-link ml-5 pr-5 border-right border-light">Home</a>
                <a href="/new_event" class="nav-item nav-link ml-5 pr-5 border-right border-light">New</a>
                <a href="/myaccount" class="nav-item nav-link ml-5">Account</a>
            </div>
        </nav>
        <div class="row container">
            <div class="container">
                <h4>Event Details</h4>
            </div>
            <div class="container col">
                <p>Event Title: {{ event_info[0]['title'] }}</p>
                <p>Rule System: {{ event_info[0]['system'] }}</p>
                <p>Description: {{ event_info[0]['description'] }}</p>
                <p>Date: {{ event_info[0]['date'] }}</p>
                <p>Address: {{ event_info[0]['street'] }} {{ event_info[0]['city'] }}, {{ event_info[0]['state_abbr'] }}</p>
                {%if editable%}
                    <a href="/event/edit">Edit</a>
                {%endif%}
            </div>
            <div class="container col shadow">
                <iframe width="600" height="450" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/search?q={{event_info[0]['street']}},{{ event_info[0]['city'] }}+,+{{ event_info[0]['state_abbr'] }},+USA&key={{shhstring}}" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row container">
        </div>
    </div>
</body>