<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Account</title>
</head>
<body>
    <div class="container col-lg">
        <div class="container row">
            {% with messages = get_flashed_messages() %}    
                {% if messages %}                           
                    {% for message in messages %}            
                        <p>{{message}}</p>                
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info mb-3">
            <div class="navbar-nav">
                <a href="" class="navbar-brand text-white">LFG</a>
                <a href="/dashboard" class="nav-item nav-link ml-5 pr-5 border-right border-light">Home</a>
                <a href="/new_event" class="nav-item nav-link ml-5 pr-5 border-right border-light">New</a>
                <a href="/myaccount" class="nav-item active nav-link ml-5">Account</a>
            </div>
        </nav>
    </div>
    <div class="container row">
        <div class="col">
            <p>Name: {{ user_info[0]['first_name'] }} {{ user_info[0]['last_name'] }}</p>
            <p>Email: {{ user_info[0]['email'] }}</p>
            <a href="/signout" >Logout</a>
        </div>
    </div>
    <div class="container row">
        <h4></h4>
    </div>

</body>