<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Account</title>
</head>
<body>
    <div class="container col-lg">
        <div class="row container">
            <div class="col-sm-2 text-center">
                <a href="/dashboard">Home</a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="/new_event">New</a>
            </div>
            <div class="col-sm-4 text-center"></div>
            <div class="col-sm-2 text-center">
                <p>Account</p>
            </div>
        </div>   
    </div>
    <div class="container row">
        <div class="col">
            <p>Name: {{ user_info[0]['first_name'] }} {{ user_info[0]['last_name'] }}</p>
            <p>Email: {{ user_info[0]['email'] }}</p>
            <a href="/signout" >Logout</a>
        </div>
    </div>
    <div class="container row">
        <h4>***table for user events***</h4>
    </div>

</body>