<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
    <div class="container col-lg">
        <div class="row container">
            <div class="col-sm-2 text-center">
                <p>Home</p>
            </div>
            <div class="col-sm-2 text-center">
                <a href="">New</a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="">Search</a>
            </div>
            <div class="col-sm-2 text-center"></div>
            <div class="col-sm-2 text-center">
                <a href="">Account</a>
            </div>
        </div>   
    </div>
    <div class="container row">
        <div class="col">
            <p>Name:</p>
            <p>Email:</p>
            <a href="editUser">Edit</a>
        </div>
    </div>
    <div class="container row">
        <h4>***table for past events***</h4>
    </div>
    <div class="container row">
        <h4>***table for future events***</h4>
    </div>
</body>